<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
    
  <servlet>
  <display-name>app</display-name>
  <servlet-name>app</servlet-name>
  <servlet-class>com.demo.app</servlet-class>  <!--Servlet类的位置-->
 </servlet>
 <servlet-mapping>
  <servlet-name>app</servlet-name>
  <url-pattern>/app</url-pattern>
 </servlet-mapping>
 
 
</web-app>