body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.log-i {
  color: green;
}

.log-e {
  color: red;
}

.tag {
  display: inline-block;
  width: 170px;
}

.api {
  display: inline-block;
  width: 300px;
}

.hidden {
  display: none;
}

button {
    width: 48%;
    height: 50px;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
    display: inline-block;
    float: left;
}

.clear-float {
    clear: both;
}
